In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/module_5_auto.csv'
)

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0,0,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,1,1,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,2,2,1,122,alfa-romero,std,two,hatchback,rwd,front,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,3,3,2,164,audi,std,four,sedan,fwd,front,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,4,4,2,164,audi,std,four,sedan,4wd,front,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1

In [4]:
df.isna().sum()

Unnamed: 0           0
Unnamed: 0.1         0
symboling            0
normalized-losses    0
make                 0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               4
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
city-L/100km         0
horsepower-binned    1
diesel               0
gas                  0
dtype: int64

In [5]:
df.shape

(201, 31)

In [13]:
%%capture
! pip install ipywidgets

In [16]:
X = df.drop('price',axis=1)`

In [28]:
X.shape

(201, 30)

In [29]:
y.shape

(201,)

In [20]:
y = df['price']

In [25]:
from sklearn.model_selection import train_test_split


x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=1)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
lre = LinearRegression()

In [32]:
lre.fit(x_train[['horsepower']],y_train)

LinearRegression()

In [34]:
lre.score(x_test[['horsepower']], y_test)

0.3635875575078824

In [35]:
lre.score(x_train[['horsepower']], y_train)

0.6619724197515103

In [36]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=1)

In [37]:
lre1 = LinearRegression()

In [39]:
lre1.fit(x_train[['horsepower']],y_train)

LinearRegression()

In [41]:
lre1.score(x_test[['horsepower']],y_test)

0.6111827529454426

Cross Validation score

In [42]:
from sklearn.model_selection import cross_val_score

In [43]:
Rcross = cross_val_score(lre,x_train[['horsepower']],y_train,cv=4)

In [44]:
Rcross

array([0.73094449, 0.74650374, 0.57919282, 0.58748083])

In [45]:
print("The mean of the folds are", Rcross.mean(), "and the standard deviation is" , Rcross.std())

The mean of the folds are 0.6610304727355669 and the standard deviation is 0.07794325043773133

In [47]:
-1 * cross_val_score(lre,x_train[['horsepower']], y_train,cv=4,scoring='neg_mean_squared_error')

array([24139977.46411075, 16213578.01693301, 21409679.55393278,
       30526508.67615088])